
span.ltx_note.ltx_role_margin span.ltx_note_content {
    position: static;
    margin: 1ex auto;
    width: 100%;
}
span.ltx_note_content span.ltx_align_middle {
    margin: 0 auto;
}

.ltx_page_navbar {
    position: static;
    width: 100%;
}

.ltx_page_main {
    position: static;
    width:100%;
}

header.ltx_page_header {
    width: 90%;
}
footer.ltx_page_footer {
    width: 90%;
}
