
.ltx_theorem_definition {
      padding: 1ex 1em;
      text-indent:0;
      border-width: 1px;
      border-style: solid;
      border-color: hsl(60,90%,68%);
      color: black; /* if dark mode, color switches to washed out white */
      background-color: hsl(60,91%,90%); /* old browsers */
      background-image: -moz-linear-gradient(top,hsl(60,100%,97%) 0%,hsl(60,82%,83%)); /* FF 3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(60,100%,97%)), color-stop(100%,hsl(60,82%,83%))); /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top,hsl(60,100%,97%) 0%,hsl(60,82%,83%) 100%); /* Chrome 10+, Safari 5.1+ */
      background-image: -o-linear-gradient(top,hsl(60,100%,97%) 0%,hsl(60,82%,83%) 100%); /* Opera 11.10+ */
      background-image: -ms-linear-gradient(top,hsl(60,100%,97%) 0%,hsl(60,82%,83%) 100%); /* IE 10+ */
      background-image: linear-gradient(to bottom,hsl(60,100%,97%) 0%,hsl(60,82%,83%) 100%); /* W3C */
    }

.ltx_theorem_theorem {
      padding: 1ex 1em;
      text-indent:0;
      border-width: 1px;
      border-style: solid;
      border-color: hsl(120,18%,58%);
      color: black; /* if dark mode, color switches to washed out white */
      background-color: hsl(120,72%,92%); /* old browsers */
      background-image: -moz-linear-gradient(top,hsl(120,100%,97%) 0%,hsl(120,43%,86%)); /* FF 3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(120,100%,97%)), color-stop(100%,hsl(120,43%,86%))); /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top,hsl(120,100%,97%) 0%,hsl(120,43%,86%) 100%); /* Chrome 10+, Safari 5.1+ */
      background-image: -o-linear-gradient(top,hsl(120,100%,97%) 0%,hsl(120,43%,86%) 100%); /* Opera 11.10+ */
      background-image: -ms-linear-gradient(top,hsl(120,100%,97%) 0%,hsl(120,43%,86%) 100%); /* IE 10+ */
      background-image: linear-gradient(to bottom,hsl(120,100%,97%) 0%,hsl(120,43%,86%) 100%); /* W3C */
    }

.ltx_theorem_keyidea {
      padding: 1ex 1em;
      text-indent:0;
      border-width: 1px;
      border-style: solid;
      border-color: hsl(0,18%,58%);
      color: black; /* if dark mode, color switches to washed out white */
      background-color: hsl(0,72%,92%); /* old browsers */
      background-image: -moz-linear-gradient(top,hsl(0,100%,97%) 0%,hsl(0,43%,86%)); /* FF 3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,100%,97%)), color-stop(100%,hsl(0,43%,86%))); /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top,hsl(0,100%,97%) 0%,hsl(0,43%,86%) 100%); /* Chrome 10+, Safari 5.1+ */
      background-image: -o-linear-gradient(top,hsl(0,100%,97%) 0%,hsl(0,43%,86%) 100%); /* Opera 11.10+ */
      background-image: -ms-linear-gradient(top,hsl(0,100%,97%) 0%,hsl(0,43%,86%) 100%); /* IE 10+ */
      background-image: linear-gradient(to bottom,hsl(0,100%,97%) 0%,hsl(0,43%,86%) 100%); /* W3C */
    }

.ltx_theorem_exvideo {
      padding: 1ex 1em;
      text-indent:0;
      border-width: 1px;
      border-style: solid;
      border-color: hsl(240,18%,58%);
      color: black; /* if dark mode, color switches to washed out white */
      background-color: hsl(240,72%,92%); /* old browsers */
      background-image: -moz-linear-gradient(top,hsl(240,100%,97%) 0%,hsl(240,43%,86%)); /* FF 3.6+ */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(240,100%,97%)), color-stop(100%,hsl(240,43%,86%))); /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top,hsl(240,100%,97%) 0%,hsl(240,43%,86%) 100%); /* Chrome 10+, Safari 5.1+ */
      background-image: -o-linear-gradient(top,hsl(240,100%,97%) 0%,hsl(240,43%,86%) 100%); /* Opera 11.10+ */
      background-image: -ms-linear-gradient(top,hsl(240,100%,97%) 0%,hsl(240,43%,86%) 100%); /* IE 10+ */
      background-image: linear-gradient(to bottom,hsl(240,100%,97%) 0%,hsl(240,43%,86%) 100%); /* W3C */
    }
