html, body {
    height: 99%;
    width: 98%;
}

iframe#toc {
    width: 25%;
    height: 100%;
    position: fixed;
}

iframe[seamless] {
    border:0;
}

iframe.embeddedVideo {
    margin: 1ex 1em;
}

body.hasIframe .ltx_page_main {
    max-width: 50em;
    position: relative;
    left: 26%;
    margin: 1ex 1em;
    padding: 1ex 15em 1ex 1em;
}

iframe .ltx_page_main {
    position: static;
}

.marginbox {
    position: absolute;
    left: 50em;
    width: 10em;
}

.ltx_page_footer {
    text-align: center;
}

.ltx_tag_equation.ltx_align_right {
    position: static;
}

body.inIframe .ltx_TOC.ltx_role_contents ul {
    padding-left: 1em;
    text-indent: -2em;
}

.ltx_theorem_exampleEnv {
    padding-left: 1em;
    border-width: 2px;
    border-top-width: 0;
    border-style: solid;
    border-left-color: hsl(240,100%,84%);
    border-image: -moz-line-gradient(left,hsl(240,100%,84%) 0%,hsl(240,100%,84%) 3%,transparent 3%,transparent); /* FF 3.6+ */
    border-image: -webkit-gradient(linear,left top,right top,color-stop(0%,hsl(240,100%,84%)),color-stop(3%,hsl(240,100%,84%)),color-stop(3%,transparent),color-stop(100%,transparent)); /* Chrome, Safari 4+ */
    border-image: -webkit-linear-gradient(left,hsl(240,100%,84%) 0%,hsl(240,100%,84%) 3%,transparent 3%,transparent 100%); /* Chrome 10+, Safari 5.1+ */
    border-image: -o-linear-gradient(left,hsl(240,100%,84%) 0%,hsl(240,100%,84%) 3%,transparent 3%,transparent 100%); /* Opera 11.10+ */
    border-image: -ms-linear-gradient(left,hsl(240,100%,84%) 0%,hsl(240,100%,84%) 3%,transparent 3%,transparent 100%); /* IE 10+ */
    border-image: linear-gradient(to right,hsl(240,100%,84%) 0%,hsl(240,100%,84%) 3%,transparent 3%,transparent 100%); /* W3C */
    border-image-slice: 1; /* must come after border-image, since that's a shorthand */
}

.ltx_tag_theorem {
    width: 7em;
    display: inline-block;
}

.ltx_theorem .ltx_title {
    margin-top: 1em;
}

.ltx_theorem .ltx_title.ltx_font_bold {
    font-weight: bold;
}

.exampleNum, .solutionTag {
    min-width: 9em;
    display: inline-block;
}

.sectionSolutions, .ltx_index > .ltx_indexlist, .twoColumnList {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

a.permaLink {
    visibility: hidden;
    margin-left: .5em;
}

*:hover > a.permaLink {
    visibility: visible;
}

.marginbox table td {
    display: table-row;
}

.mnote > * {
    font-size: smaller;
}

.ltx_appendix.solutions .MathJax {
    font-size: 80%;
}

.ltx_theorem > .ltx_para:first-of-type > .ltx_p:first-child {
    text-indent: 0;
}

figcaption {
    font-size: smaller;
}

section.ltx_appendix .diffRules + .ltx_minipage , section.ltx_appendix .diffRules ~ * > .ltx_minipage {
    width: 20%;
}

.twoColumnListByRows li.ltx_item {
    display: inline-block;
    width: 40%;
    margin-right: 5%;
}

/* the following things are hidden: */

/* subsections in the table of contents */
body.inIframe .ltx_TOC.ltx_role_contents ul ul ul ul { display: none; }
/* sections in the appendix part of the table of contents */
body.inIframe .ltx_toc_appendix ul { display: none; }
/* several default items in the table of content's iframe */
body.inIframe header, body.inIframe h6, body.inIframe footer { display: none; }
