html, body {
    height: 99%;
    width: 98%;
}

iframe#toc {
    width: 25%;
    height: 100%;
    position: fixed;
}

iframe[seamless] {
    border:0;
}

body.hasIframe {
    margin: 1ex 15em 1ex 1em;
}

body.inIframe .ltx_page_main {
    padding: 1ex 1em;
}

body.inIframe header, body.inIframe h6, body.inIframe footer {
    display: none;
}

.hasIframe .ltx_page_main {
    max-width: 50em;
    position: relative;
    left: 26%;
}

iframe .ltx_page_main {
    position: static;
}

.marginbox {
    position: absolute;
    left: 49em;
    width: 15em;
}

.ltx_page_footer {
    text-align: center;
}

.ltx_tag_equation.ltx_align_right {
    position: static;
}

.ltx_TOC.ltx_role_contents ul ul ul ul {
    display: none;
}

.ltx_TOC.ltx_role_contents ul {
    padding-left: 1em;
    text-indent: -2em;
}

.inExample {
    border-left: 2px solid hsl(240,100%,84%);
    padding-left: 1em;
}

.exampleNum, .solutionTag {
    min-width: 9em;
    display: inline-block;
    text-indent: -2em;
}

.sectionSet, .ltx_indexlist {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

a.permaLink {
    visibility: hidden;
    margin-left: .5em;
}

*:hover > a.permaLink {
    visibility: visible;
}

.marginbox table td {
    display: table-row;
}

.mnote {
    font-size: smaller;
}
